@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

/*Variáveis de cores*/
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #34495e;
    --card-background: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1.25rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 1.25rem;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
}

.search-form {
    display: flex;
    gap: .6rem;
    margin-bottom: 1.8rem;
}

.search-form .product_input {
    flex-grow: 1;
    padding: .7rem;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 1.5rem;
    outline: none;
}

.search-form .product_input:focus {
    box-shadow: 0 0 5px var(--primary-color);
}

.search-form button {
    padding: .7rem 2rem;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1.5rem;
    color: var(--background-color);
    transition: 0.1s;
}

.search-form button:hover {
    background-color: #2980b9;
}

.search-form button:focus {
    border: 2px solid var(--primary-color);
    background-color: var(--card-background);
    color: #757575;
    font-weight: 500;
} 

.product_list {
    background-color: var(--card-background);
    border-radius: .6rem;
    box-shadow: 0 4px 6px var(--shadow-color);
    text-align: center;
}